.buttonDisable {
    display: inline-block;
    border-radius: 16px;
    border: none;
    padding: 12px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold ;
    color: #787878;
    margin: 12px;
    text-align: center;
    background-color: #ccc;
    cursor: not-allowed;
}

.buttonAble {
    display: inline-block;
    border-radius: 16px;
    border: none;
    padding: 12px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold ;
    color: black;
    margin: 12px;
    text-align: center;
    background-color: #00d26a;
    cursor: pointer;
}

.buttonAble:hover{
    background-color: green;
}